git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
bs4
imdbpy
aiofiles
telegraph
pyrogram
youtube_search_python
youtube_search
ytthumb
ffmpeg-python
googletrans==3.1.0a0
carbonnow==0.0.1
Pillow>=4.2.0
bs4
string-extract
domain-extract
hashtags_extract
Pymoe
pendulum
pytesseract
pyshorteners
heroku3

python-decouple
speedtest-cli
countryinfo
python-telegram-bot==11.1.0
pyromod~=1.5
gtts
yt_dlp
wget

TgCrypto
pyrogram<=1.4.16
googletrans==3.1.0a0
pymongo
dnspython
python-dotenv
play-scraper
pyTelegramBotAPI


async-lru==1.0.2

pyaes==1.6.1

PySocks==1.7.1
TgCrypto==1.2.2
lottie
cairosvg
youtube-dl
validators
ffmpeg
requests

eyeD3
lyricsgenius
requests
spotipy
youtube_dl
youtube_search
python-telegram-bot

OpenCC
Pillow
Pyrogram
TgCrypto
ffmpeg-python
youtube-dl
wget


humanize
hachoir
pymongo
dnspython

git+https://github.com/HeimanPictures/mdisk.git
mdisk


aiohttp
aiofiles
ffmpeg-python
gTTS
dnspython
future
googletrans==4.0.0-rc1
motor
pillow
psutil
pykeyboard
pyrogram==1.4.16
python-arq
requests
search-engine-parser
speedtest-cli
TgCrypto
uvloop
youtube_dl
bs4
python-dotenv
feedparser
pyromod
fuzzysearch
img2pdf
telegraph
pytube

