git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
mmallow==3.14.1
umongo==3.0.1
sts
bs4
imdbpy==2021.4.18
aiofiles
telegraph
pyrogram
youtube_search_python
youtube_search
umb
ffmpeg-python
gootrans==3.1.0a0
carbonnow==0.0.1
Pillow>=4.2.0
bs4
stri-extract
domain-extract
hashtags_extract
Pymoe
pendlum
pytesseract
pyshorteners
herku3
Heroku3

python-decouple
speedtest-cli
yinfo
python-telegram-bot==11.1.0
pyrd~=1.5
gtts
yt_dlp
wget

ypto
pyrogram<=1.4.16
trans==3.1.0a0
pymongo
dnspython
python-dotenv
pla-scraper
pyTelegramBotAPI


async-lru==1.0.2

pyaes==1.6.1

PySocks==1.7.1
TgCrypto==1.2.2
lottie
casvg
be-dl
validators
ffmpeg
requests

eyeD3
lyricsgeniuslyrics
requests
spotipy
be_dl
youtube_search
pytho-telegram-bot

OpenCC
Pillow
Pyroam
TgCrypto
ffmeg-python
youtube-dl
wget


nize
hachoir
pymongo
dnspython

gitps://github.com/HeimanPictures/mdisk.git
mdisk






